.container {
  padding-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
  max-width: 1440px;

  // @media (min-width: $tablet-width) {
  //   padding-left: 31px;
  //   padding-right: 31px;
  //   min-width: 768px;
  // }

  // @media (min-width: $desktop-width) {
  //   padding-left: 110px;
  //   padding-right: 110px;
  //   max-width: 1440px;
  // }
}
