*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
