// Viewport
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Fonts
$main-fonts: "Rubik", "Arial", sans-serif;
$secondary-fonts: "Raleway", "Arial", sans-serif;

// Color
$main-color: #ffe17f;
$secondary-color: #f0f0f0;
$footer-color: #444444;

// Styles
$main-focus: 3px solid #af4fff;
